.gdbar img {
  width: 300px !important;
  height: 215px !important;
  margin: 8px 8px;
}


.gdbar {
  width: 600px !important;
  height: 250px !important;
}

.small-code pre code {
  font-size: 1em !important;
}

/*
.gdbar img {
  width: 300px;
  height: 215px;
  margin: 8px 8px;
}


.gdbar {
  width: 600px;
  height: 250px;
}
*/